


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-2 my-2">
    <div class="container-fluid">
      <h2 class="d-flex justify-content-center text-success " style="text-align: center;">Web.Developer</h2>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav" data-bs-toggle="dropdown">
          <li class="nav-item  mx-5">
            <a class="btn btn-light" href="/">Accueil</a>
          </li>
          <li class="nav-item me-5">
            <a class="btn btn-light" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item me-5">
            <a class="btn btn-light" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  


  

  

