<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/head'); %>
  <title>Accueil</title>
</head>
<body class="container" style="background-color: black;">

<header>
  <%- include('../includes/header'); %>
</header>


  <main class="my-2 rounded-3 bg-dark text-white">
    <div class="row">
      <div class="col-sm-8">
        <div class="content ms-5">

          <img src="../../public/images/ma_photo.jpg " class="mt-2" style="border-radius: 100%;width: 260px; height: 250px;" alt="">

          <div class="col-sm-5 mt-2">
            <div class="well ">
              <h3>I'm Hamza Arfaoui a future full stack web developer!</h3>
            </div>
          </div>

          <h1>Presentation :</h1>
          <strong> <p>Bonjour, je suis un étudiant en développement web passionné par la technologie et la création de solutions innovantes. 
            Je suis actuellement en train de suivre une formation en développement web 
            et je suis à la recherche d'opportunités pour approfondir mes connaissances et acquérir de l'expérience pratique.
            Je possède une solide connaissance des langages de programmation tels que HTML, CSS, JavaScript, Node.js. 
            J'ai également une expérience dans la création de sites web responsives et de bases de données.
            Je suis curieux, créatif et passionné par l'apprentissage continu. 
            Je suis convaincu que la technologie peut être utilisée pour résoudre de nombreux problèmes 
            et je suis motivé pour créer des solutions qui auront un impact positif sur la vie des gens.
            Je suis à la recherche d'opportunités de stage ou d'emploi dans le domaine du développement web, 
            où je pourrai apporter mes compétences et en acquérir de nouvelles. 
            Si vous êtes à la recherche d'un développeur web passionné et talentueux, n'hésitez pas à me contacter.</p></strong>
        </div>
      </div>

      
    </div>
  </main>




<footer>
  <%- include('../includes/footer'); %>
</footer>

</body>
</html>