<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/head'); %>
  <title>Contact</title>
</head>
<body class="container" style="background-color: black;">

<header>
  <%- include('../includes/header'); %>
</header>

<main>



  <%-  include('../includes/form'); %>

 

  
</main>

<footer>
  <%- include('../includes/footer'); %>
</footer>

</body>
</html>