<head>
  <%- include('../includes/head'); %>
  <title>Page Introuvable</title>
</head>
<style>
  body { background-color: black; }
</style> 
<h1 class="text-center mb-2 " style="color: red;">Page Introuvable</h1>

<img src="../../public/images/giphy.gif" style="width: 70%; height: 80vh; margin-left: auto; margin-right: auto; display: block;" alt="">

<div class="text-center">
  
    <button class="btn btn-dark btn-lg mt-2 "><a href="/" style="color: white; text-decoration: none;">Retour a la page d'accueil</a></button>

</div>
